# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: mrstore
service: MrStore-backend

frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs20.x
  architecture: arm64
  stage: main
  region: us-east-2
  memorySize: ${ssm:LAMBDA_MEMORYSIZE}
  logRetentionInDays: 1
  timeout: 10
  apiGateway:
    shouldStartNameWithService: true

  environment:
    DATABASE_URL: ${ssm:DATABASE_URL}

  vpc:
    securityGroupIds:
      - ${ssm:SECURITY_GROUP_ID}
    subnetIds:
      - ${ssm:SUBNET_ID_1}
      - ${ssm:SUBNET_ID_2}
      - ${ssm:SUBNET_ID_3}

package:
  excludeDevDependencies: true
  patterns:
    - '!**'
    - 'dist/**'

functions:
  api:
    handler: dist/src/lambda.handler
    url:
      cors: true
    events:
      - http:
          path: /
          method: ANY
      - http:
          path: /{proxy+}
          method: ANY
    environment:
      SECRET: ${ssm:SECRET}
      PORT: 8080
      DATABASE_URL: ${ssm:DATABASE_URL}

plugins:
  - serverless-jetpack
  - serverless-offline
  #- serverless-stage-manager
