# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: mrstore
service: MrStore-backend

frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs20.x
  architecture: arm64
  #stage: main
  region: us-east-2
  memorySize: ${ssm:LAMBDA_MEMORYSIZE}
  logRetentionInDays: 1
  timeout: 10
  apiGateway:
    shouldStartNameWithService: true

package:
  excludeDevDependencies: true
  patterns:
    - '!**'
    - 'dist/**'

functions:
  api:
    handler: dist/lambda.handler
    events:
      - http:
          path: /
          method: ANY
      - http:
          path: /{proxy+}
          method: ANY
    environment:
      SECRET: ${ssm:SECRET}
      PORT: 8080

plugins:
  - serverless-jetpack
  - serverless-offline
  - serverless-stage-manager
