# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: MrStore
service: builder-backend

frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs20.x
  architecture: arm64
  stage: ${opt:stage,'dev'}
  region: sa-east-1
  memorySize: ${self:custom.MEMORYSIZE.${self:provider.stage}}
  logRetentionInDays: 1
  timeout: 10
  apiGateway:
    shouldStartNameWithService: true

package:
  excludeDevDependencies: true
  patterns:
    - '!**'
    - 'dist/**'

custom:
  stages:
    - dev
    - prd
  MEMORYSIZE:
    dev: ${ssm:LAMBDA_MEMORYSIZE_DEV}
    prd: ${ssm:LAMBDA_MEMORYSIZE_PRD}
  PORT:
    dev: 3000
    prd: 8080

functions:
  api:
    handler: dist/lambda.handler
    events:
      - http:
          path: /
          method: ANY
      - http:
          path: /{proxy+}
          method: ANY
    environment:
      NODE_ENV: ${self:provider.stage}
      PORT: ${self:custom.PORT.${self:provider.stage}}
      ERROR_LOGS: true

plugins:
  - serverless-jetpack
  - serverless-offline
  - serverless-stage-manager
