name: Deploy Lambda

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js &{{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install serverless globally
        run: npm install -g serverless

      - name: Cache node modules
        id: cache-nodemodules
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          # caching node_modules
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install npm Dependencies
        if: steps.cache-nodemodules.outputs.cache-hit != 'true'
        run: npm ci

      # --- [ CAMBIO CLAVE: SOLO GENERAR, NO MIGRAR ] ---
      # Ejecutamos 'prisma generate' para crear el cliente, pero quitamos 'prisma:migrate'
      # porque FALLARÍA aquí.
      - name: Prisma Configuration (Generate Client)
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: npx prisma generate

      - name: nest build
        run: npm run build

      - name: Deploy lambda function
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: serverless deploy --stage ${{github.ref_name}}

      - name: Deploy Serverless
        run: serverless deploy --stage prod

      # --- [ PASO CLAVE: INVOCAR LA LAMBDA DE MIGRACIÓN ] ---
      # Esto solo funciona si ya tienes la función 'migrationHandler' configurada en tu serverless.yml
      - name: Run Prisma Migrations
        run: npx prisma migrate deploy
